/***************
SEARCH
***************/

#search_text {
	@include mobile {
		display: block;
		height: 35px;
		border-radius: 10px;
		border: none;
		margin: 10px auto;
		width: 80%;
	}
	@include tablet {
		width: 50%;
	}
}

#search_text:focus {
	border: 3px solid $blue;
}



/***************
RESULT
***************/

.result {
	margin: 30px auto 10px;
	padding: 20px;
}

.result-list {
	margin: 20px auto;
	border-radius: 10px;
	background-color:rgba(180, 180, 180, 0.6)
}

.result-list span {
	display: inline-block;
}

.result-title,
.result-snippet,
.result-metadata {
	margin-bottom: 10px;
}

.result-title {
	margin-top: 10px;
	font-size: 1.05em;
	font-weight: bold;
}




