/***************
GENERAL
***************/

#wrapper {
	max-width: 1200px;
	margin: 2px auto;
}

#search_text {
	@include mobile {
		display: block;
		height: 35px;
		border-radius: 10px;
		border: none;
		margin: 10px auto;
		width: 80%;
	}
	@include tablet {
		width: 50%;
	}
}

#search_text:focus {
	border: 3px solid $blue;
}

.result {
	margin: 50px auto 10px;
}

.result_title {
	margin: 30px auto 5px;
}


.result_p {
	margin: 5px auto;
}
