/***************
GENERAL
***************/

* {
	box-sizing: border-box;
  text-align: center;
}

#wrapper {
  max-width: 1200px;
  margin: 2px auto;
}

a {
  text-decoration:none;
  color: black;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
  background: url("../img/Wikipedia-logo.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
